@model EmployeeListViewModel

@{
    ViewBag.Title = Model.ViewHeading;
}

<h2 class="heading">@Model.ViewHeading</h2>

<div class="row">
    <div class="col-md-5 mt-3 pb-5">
        <form asp-action="Search" method="post" id="employee-search-form">
            <div class="input-group">
                <input asp-for="SearchTerm" class="form-control" placeholder="Search employees...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="alert alert-info @(Model.Employees.Any() ? "d-none" : "")">
    @(string.IsNullOrEmpty(Model.SearchTerm) ? "We don't have any employees at the moment." : "No employees were found")
</div>

<a asp-action="Create" class="btn btn-primary my-3">Add an Employee</a>

<table id="employee-table" class="table table-bordered @(!Model.Employees.Any() ? "d-none" : "")">
    <thead class="bg-dark text-white">
        <tr>
            <th class="width-16">Employee</th>
            <th>Department</th>
            <th class="width-16">Position</th>
            <th class="width-12">Hire Date</th>
            <th class="text-center width-25">Scheduling</th>
            <th class="width-8 text-center">Edit</th>
            <th class="width-8 text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@employee.Id">@employee.Name</a></td>
                <td>@employee.Department.Name</td>
                <td>@employee.Position</td>
                <td>@employee.HireDate.ToCustomString()</td>
                <td class="text-center">
                    <a href="#"
                       class="js-toggle-assignments js-assignments-hidden @(employee.GetAssignmentNumber() > 0 ? "" : "disabled-link")"
                       data-employee-id="@employee.Id">
                        @(employee.GetAssignmentNumber() > 0 ? "Show assignments" : "No assignments")
                    </a>
                    <div class="assignment-container"></div>
                </td>
                <td class="text-center"><a asp-action="Edit" asp-route-id="@employee.Id">Edit</a></td>
                <td class="text-center"><a href="#" class="js-delete-employee" data-employee-id="@employee.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="~/lib/toastr/toastr.js/toastr.min.js"></script>
    <script src="~/js/employeeList.js"></script>
}