@model AssignmentListViewModel

@{
    ViewBag.Title = Model.ViewHeading;
}

<h2>@Model.ViewHeading</h2>

<div class="row">
    <div class="col-md-5 mt-3 pb-5">
        <form asp-action="Search" method="post" id="assignment-search-form">
            <div class="input-group">
                <input asp-for="SearchTerm" class="form-control" placeholder="Search assignments...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="alert alert-info @(Model.Assignments.Any() ? "d-none" : "")">
    We don't have any assignments right now.
</div>

<div class="row">
    <div class="col-md-7">
        <table id="assignment-table" class="table table-bordered mt-4 @(!Model.Assignments.Any() ? "d-none" : "")">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Assignment</th>
                    <th class="text-center width-60">Assigned To:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var assignment in Model.Assignments)
                {
                    <tr>
                        <td>@assignment.Name</td>
                        <td class="text-center">
                            <a href="#"
                               class="js-toggle-employees js-employees-hidden @(assignment.GetEmployeeNumber() > 0 ? "" : "disabled-link")"
                               data-assignment-id="@assignment.Id">
                                @(assignment.GetEmployeeNumber() > 0 ? "View employees" : "Assigned to no one")
                            </a>
                            <div class="employee-container"></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/toastr/toastr.js/toastr.min.js"></script>
    <script src="~/js/assignmentList.js"></script>
}